@model Ecommerce.Models.CustomerBaseViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/CustomerViews.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <!--Panel with store name on top, navbar on bottom-->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>
                <span class="glyphicon glyphicon-yen"></span> Downtown Brown Ice Rink <span class="glyphicon glyphicon-yen"></span>
                @{ 
                      if (Session["LogInValid"].ToString().Equals("True"))
                      {
                        <a href="~/ShoppingCart" class="btn btn-default" style="float:right">
                            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                            Cart (@Session["ItemsInCart"])
                            <!--0 will be replaced by how many items in cart-->
                        </a>
                     }
                }
            </h2>
        </div>
        <div class="panel-body">
            <div class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                        @Html.ActionLink("Search", "Index", "Search", new { area = "" }, new { @class = "navbar-brand" })
                        @Html.ActionLink("Profile", "Index", "Users", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                        </ul>
                        @{
                            if (Session["LogInValid"].ToString().Equals("True"))
                            {
                                <div class="navbar-brand" style="float:right;">Welcome @Session["Username"]</div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<footer>
    <p>&copy; @DateTime.Now.Year - Downtown Brown Ice Rink</p>
</footer>