<!-- SearchController - Search -->
@model StoreFront.Data.InventoryRepository
@{
    ViewBag.Title = "Search";
}

<h2>Search Results</h2>

<div class="form-group">
    @using (Html.BeginForm())
    {
        <div class="form-group">
            @Html.TextBox("searchItem", null)
        </div>
        <input type="submit" value="Search Products" />
    }
</div>

<div id="productList" class="form-group table-bordered">
    @Html.Partial("AddShoppingCartItem", Model)
</div>

@{
    if (Model.prodList.Count == 0)
    { 
        @Html.Label("No products found!") 
    }
}

<p>
    @Html.ActionLink("Back to Search", "Index")
</p>

@section Scripts
{
    <script>
        function ajaxAddToCart(prodID, cartID) {
            $.ajax({
                type: "POST",
                data: { itemID: prodID, shoppingCartID: cartID},
                url: "@Url.Action("AddShoppingCartItem", "Search")",
                success: function (result)
                {
                    $('#cartHeading').html(result);
                }
            })
        }
    </script>

    <script src="~/Scripts/jquery-3.1.1.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>    
}