@model Ecommerce.Models.users

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<br />

<div class="text-danger bg-danger">
    @ViewBag.LoginMessage
</div>


<!-- Field for Username, Password.
     Need field validators for both -->

@using (Html.BeginForm())
{
    <div class="form-group">
        <div class="form-group">
            @Html.LabelFor(user => user.UserName) <br />
            @Html.TextBoxFor(user => user.UserName)
            @Html.ValidationMessageFor(user => user.UserName, "", new { @class = "text-danger bg-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(user => user.Password) <br />
            @Html.PasswordFor(user => user.Password, new { @class = "" })
            @Html.ValidationMessageFor(user => user.Password, "", new { @class = "text-danger bg-danger" })
        </div>
        <div class="form-group">
            <input type="submit" value="Login" class="btn btn-info"/>
        </div>
    </div>

}
<br /><br />

@Html.ActionLink("Back to Profile", "Index", "Users")